{% extends 'base.html.twig' %}

{% block title %}
    Change password
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Profile</li>
        <li class="navbar-brand breadcrumb-item">Change password</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Change password</h4>
                </div>
                <div class="content col-md-offset-1">

                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_row(form.current_password) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_row(form.new_password) }}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill pull-right">Change password</button>
                    <div class="clearfix"></div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}