{% extends 'login/base_login.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card card-container">
                    <img style="width: 100%;" id="profile-img" class="profile-img-card" src="{{ asset("assets/img/soPay.jpeg") }}"/>
                    <p id="profile-name" class="profile-name-card"></p>
                    {{ form_start(form) }}
                    {{ form_row(form.new_password) }}
                    <br>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Create password</button>
                    <div class="clearfix"></div>
                    {{ form_end(form) }}<!-- /form -->
                </div><!-- /card-container -->
            </div>

        </div><!-- /row -->

    </div><!-- /container -->
{% endblock %}