<h1>Password reset request</h1>
<p>You recieve this mail beacause you have ask to reset your password</p>
<p>This link is for one time use, he will allows you to change your password</p>
<a href="{{ absolute_url(path('user_profile_new_password', {resetToken: newUser.resetToken})) }}">click to activate your account</a>
<p> if you have no information about this action pease let us know</p>