{% block _transaction_method_gateway_label %}
    <h4>Select payment method</h4>
{% endblock _transaction_method_gateway_label %}

{% block _transaction_method_gateway_widget %}
    {% for key, choice in form.vars.choices %}

        <div class="radio">
            <label>
                <input type="radio" name="{{ form.children[key].vars.full_name }}" id="{{ form.children[key].vars.id }}"
                       class="gateway_method_btn"
                       value="{{ choice.value }}"
                       required>
                {#<img style="margin: -6px 0 0;"
                     src="http://localhost/web/lib/img/payer_par_carte.png"/>#}
                {{ choice.label }}

            </label>
            {% if json_decode(choice.data.extraFields) | length > 0 %}
                <div id="{{ choice.value }}" hidden>
                    {% for extraField in json_decode(choice.data.extraFields) %}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="{{ extraField.id }}">
                                    {{ extraField.label }}
                                </label>

                            </div>
                            <div class="col-md-6">
                                <input type="{{ extraField.type }}"
                                       name="{{ form.vars.id }}[extraFields][{{ extraField.name }}]"
                                       id="{{ extraField.id }}"
                                       placeholder="{{ extraField.placeholder }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    {% endfor %}
{% endblock _transaction_method_gateway_widget %}

