<script type="application/javascript">
    $(function () {
        $('#{{ form.isActivated.vars.id }}').bootstrapToggle({
            on: 'Activated',
            off: 'Deactivated',
            onstyle: "btn btn-success btn-fill",
            offstyle: "btn btn-default btn-fill"
        });
    })

</script>

<script type="application/javascript">
    $(function () {

        //Add parameter click event.
        $("#add_parameter_btn").on("click", function (e) {
            e.preventDefault();
            addGatewayParameter();
        });

        //gateway parameters selector.
        var gatewayParameters = $("#gateway_parameters");

        //parameterGatewayIsRequired.
        var parameterGatewayIsRequiredId = "{{ form.gatewayParameters.vars.prototype.isRequired.vars.id }}";

        //Getwayparameter prototype.
        var getwayparameterPrototype = "{{ form_widget(form.gatewayParameters.vars.prototype)|e("js") }}";

        var row = {{ form.gatewayParameters | length }};

        var colorVisualisationInput = $("#{{ form.color.vars.id }}");

        //Add gateway parameter row.
        function addGatewayParameter() {
            var copiedPrototype = getwayparameterPrototype;
            var copiedPrototype = copiedPrototype.replace(/__name__/g, row);

            //Append Row.
            gatewayParameters.append(copiedPrototype);

            //add delete row action.
            assigneActions(row);

            row++;
        }

        //Assigne action (remove) to the added parameter row.
        function assigneActions(row) {
            //add delete row action.
            $("#remove_" + row).on("click", deleteRow);

            //set bootstrapToggle to isRequiredField.
            $('#' + parameterGatewayIsRequiredId.replace(/__name__/g, row)).bootstrapToggle({
                on: 'required',
                off: 'not required',
                onstyle: "btn btn-success btn-fill",
                offstyle: "btn btn-default btn-fill"
            });
        }

        //delete row.
        function deleteRow() {
            var clickedRow = $(this).attr("parameter_row");
            $("#parameter_row_" + clickedRow).remove();
        }

        //Init action for existed data.
        function init() {
            for (i = 0; i < row; i++) {
                assigneActions(i);
            }
            colorVisualisationInput.trigger("change");
        }

        colorVisualisationInput.on("change keyup",function(e){
            var color = $(this).val();
            $("#visualize-color").css("background-color", "#"+color);
        });
        init();

    });
</script>