{% extends 'base.html.twig' %}

{% block title %}
    Gateway
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Gateways</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="col-md-10">
                        <h4 class="title">All Gateways</h4>
                        <p class="category">Here is a list of all Gateways</p>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="{{ path('gateways_add_gateway') }}" class="pull-right btn btn-info btn-fill">Add Gateway</a>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table id="gateways_table" class="table table-hover table-striped">
                        <thead>
                        <th>name</th>
                        <th>Service ID</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block post_javascript %}
    <script type="application/javascript">

        $(function () {

            $('#gateways_table').DataTable({
                "dom": 'Bfrtip',
                "buttons": [
                    'Add gateway'
                ],
                "ajax": {
                    url: "{{ path('gateways_gateways_index') }}",
                    data: {
                        'conditions': [],
                        'search_options': {
                            't_isActivated': [{
                                'original value': '1',
                                'replaced_by': 'activated'
                            }, {
                                'original value': '0',
                                'replaced_by': 'deactivated'
                            }]
                        },
                        'hidden_columns' :[]
                    }
                },
                "processing": true,
                "serverSide": true,
                "sAjaxDataProp": "data",
                "pageLength": 100,
                "deferRender": true,
                "scrollY": 500,
                "scroller": {
                    "loadingIndicator": true
                },
                "columnDefs": [{
                    "targets": 0,
                    "name": 't.name',
                    "data": 't_name',
                }, {
                    "targets": 1,
                    "name": 't.serviceId',
                    "data": 't_serviceId'
                }, {
                    "targets": 2,
                    "name": 't.description',
                    "data": 't_description'
                }, {
                    "targets": 3,
                    "name": 't.isActivated',
                    "data": 't_isActivated',
                }, {
                    "targets": 4,
                    "name": 't.createdAt',
                    "data": 't_createdAt',
                }, {
                    "targets": 5,
                    "name": 't.updatedAt',
                    "data": 't_updatedAt',
                }, {
                    "targets": -1,
                    "data": "t_action",
                }]
            });
        });

    </script>
{% endblock post_javascript %}