{% extends 'base.html.twig' %}

{% block title %}
    Transactions
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .dataTables_filter {
            margin: 1%;
        }

        .select2-selection--single {
            min-height: 32px;
        }

        .transactions-filter {
            margin-left:1%;
            margin-right:1%;
            margin-top: 8%;
        }

        .container-fluid-filter {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #gatewayFilterBtn {
            margin-top: 15%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_header %}
    <ol class="breadcrumb " style="background-color: #ffffff !important;">
        <li class="navbar-brand breadcrumb-item">Transactions</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="col-md-10">
                        <h4 class="title">Transactions</h4>
                        <p class="category">Here is a list of all transactions</p>
                    </div>
                </div>
                <div class="container-fluid container-fluid-filter transactions-filter">
                    <div class="col-md-12">
                        {{ form_start(transactionFilterForm) }}
                        <div class="col-md-3">
                            {{ form_row(transactionFilterForm.status) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(transactionFilterForm.gateways) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(transactionFilterForm.sites) }}
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-fill btn-success" id="gatewayFilterBtn" value="refresh"
                               id="filtrer">Apply</a>
                        </div>
                        {{ form_end(transactionFilterForm) }}
                    </div>
                </div>

                <div class="content table-responsive table-full-width">
                    <table id="transactions_table" class="table table-hover table-striped">
                        <thead>
                        <th>Transaction id</th>
                        <th>website</th>
                        <th>Amount</th>
                        <th>Gateway</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block post_javascript %}
    <script type="application/javascript">

        $(function () {

            //Gatewayn filter btn.
            var gatewayFilterBtn = $("#gatewayFilterBtn");

            //GatewayFilter selectors.
            var transactionsFilterStatus = $("#{{ transactionFilterForm.status.vars.id }}");
            var transactionsFilterGateways = $("#{{ transactionFilterForm.gateways.vars.id }}");
            var transactionsFilterWebsites = $("#{{ transactionFilterForm.sites.vars.id }}");

            //transactionTable dataTable.
            var transactionTable = $('#transactions_table').DataTable({
                "dom": 'Bfrtip',
                "order": [[ 5, "desc" ]],
                "ajax": {
                    url: "{{ path('transactions_transactions_index') }}",
                    data: {
                        'join': [{
                            'join': 't.gateway',
                            'alias': 'gateway',
                            'condition': function () {
                                var condition = "";
                                $.each(transactionsFilterGateways.val(), function (index, gatewayToken) {
                                    if (condition != "") {
                                        condition += " or ";
                                    }
                                    condition += "gateway.token='" + gatewayToken + "'";
                                });
                                return condition;
                            }
                        }, {
                            'join': 't.website',
                            'alias': 'website',
                            'condition': function () {
                                var condition = "";
                                $.each(transactionsFilterWebsites.val(), function (index, websiteToken) {
                                    if (condition != "") {
                                        condition += " or ";
                                    }
                                    condition += "website.token='" + websiteToken + "'";
                                });
                                return condition;
                            }
                        }],
                        'conditions': function () {
                            //Init conditions.
                            var conditions = [];

                            //Filter by status.
                            var selectedStatus = transactionsFilterStatus.val();
                            if (selectedStatus != 0) {
                                conditions.push("t.status =" + selectedStatus);
                            }

                            return conditions;
                        },
                        'search_options': {
                            't_status': [{
                                'original value': '1',
                                'replaced_by': 'Created'
                            }, {
                                'original value': '2',
                                'replaced_by': 'Pending'
                            }, {
                                'original value': '3',
                                'replaced_by': 'Refused'
                            }, {
                                'original value': '4',
                                'replaced_by': 'Accepted'
                            }, {
                                'original value': '5',
                                'replaced_by': 'Cancelled'
                            }, {
                                'original value': '6',
                                'replaced_by': 'Refunded'
                            }]
                        },
                        'hidden_columns': [
                            {
                                "name": 't.currency',
                                "data": 't_currency',
                                "searchable": true,
                            }
                        ]
                    }
                },
                "processing": true,
                "serverSide": true,
                "sAjaxDataProp": "data",
                "pageLength": 100,
                "deferRender": true,
                "scrollY": 500,
                "scroller": {
                    "loadingIndicator": true
                },
                "columnDefs": [{
                    "targets": 0,
                    "name": 't.transactionOrder',
                    "data": 't_transactionOrder',
                }, {
                    "targets": 1,
                    "name": 'website.url',
                    "data": 't_url',
                }, {
                    "targets": 2,
                    "name": 't.amount',
                    "data": 't_amount'
                }, {
                    "targets": 3,
                    "name": 'gateway.name',
                    "data": 't_gateway'
                }, {
                    "targets": 4,
                    "name": 't.status',
                    "data": 't_status',
                }, {
                    "targets": 5,
                    "name": 't.createdAt',
                    "data": 't_createdAt',
                }, {
                    "targets": 6,
                    "name": 't.updatedAt',
                    "data": 't_updatedAt',
                }, {
                    "targets": -1,
                    "data": "t_action",
                }]
            });

            gatewayFilterBtn.on("click", function (e) {
                e.preventDefault();
                transactionTable.ajax.reload();
            });

        });

    </script>
{% endblock post_javascript %}