{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.url) }}
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.ipAddress) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.callbackUrl) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_widget(form.isActivated) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-info btn-fill pull-right">{{ button_name }}</button>
<div class="clearfix"></div>
{{ form_end(form) }}