.badge-success {
    background-color: #87CB16;
}

.badge-danger {
    background-color: #dc3545;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-secondary{
    background-color: #6c757d;
}

.badge-primary {
    background-color: #007bff;
}

.badge-info {
    background-color: #17a2b8;
}

.pay-navbar{
    background-color: #2babca !important;
}