<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title %}{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ asset('assets/css/light-bootstrap-dashboard.css?v=1.4.0') }}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link href="{{ asset('assets/css/pe-icon-7-stroke.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/custom-style.css') }}" rel="stylesheet"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- select 2 stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    {% block stylesheet %}
    {% endblock %}

</head>
<body>

<div class="wrapper">

    <!--side bare-->
    {% include('components/_sidebar.html.twig') %}

    <!--Main-->
    <div class="main-panel">

        <!--navbar-->
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    {% block body_header %}
                    {% endblock %}

                    {#<a class="navbar-brand" href="#">Dashboard</a>#}
                </div>
                {% include('components/_nav_bar.html.twig') %}
            </div>
        </nav>

        <!--navbar-->
        <div class="content">
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2020 <a href="#">abs</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>

</div>


</body>
{% block pre_javascript %}
{% endblock %}


<!--   Core JS Files   -->
<script src="{{ asset('assets/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/chartist.min.js') }}"></script>

<!--  Notifications Plugin    -->
<script src="{{ asset('assets/js/bootstrap-notify.js') }}"></script>

<!--  fos ROUTING GENERATE Plugin    -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{{ asset('assets/js/light-bootstrap-dashboard.js?v=1.4.0') }}"></script>

<script src="{{ asset('assets/js/demo.js') }}"></script>

<!-- bootstrap toggle -->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<!-- notification script -->
<script type="text/javascript">
    $(document).ready(function () {
       // demo.initChartist();

        {% for type, messages in app.flashes %}

            {% if type == 'error' %}
                {% set notification_type = "danger" %}
            {% elseif type == "info" %}
                {% set notification_type = "info" %}
            {% else %}
                {% set notification_type = 'success' %}
            {% endif %}

            {% for message in messages %}
                $.notify({
                    icon: 'pe-7s-info',
                    message: "{{ message }}."

                }, {
                    type: '{{ notification_type }}',
                    timer: 4000
                });
            {% endfor %}
        {% endfor %}

        //Select2
        $('.select2').select2();
    });
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

{% block post_javascript %}
{% endblock %}

</html>
