
<div class="collapse navbar-collapse">

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <p>
                    Account
                    <b class="caret"></b>
                </p>

            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path("user_profile_edit") }}">Edit profile</a></li>
                <li><a href="{{ path("user_profile_change_password") }}">Change password</a></li>
                <li class="divider"></li>
                <li><a href="{{ path("user_logout") }}">Logout</a></li>
            </ul>
        </li>
        <li class="separator hidden-lg"></li>
    </ul>
</div>