<div class="sidebar" data-color="azure" data-image="{{ asset('assets/img/sidebar-5.jpg') }}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ path('dashboard_dashboard_index') }}" class="simple-text">
                So Pay
            </a>
        </div>

        <ul class="nav">
            <li class="{{ isActive(['dashboard_dashboard_index'], app.request.get('_route')) }}">
                <a href="{{ path('dashboard_dashboard_index') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="{{ isActive(['transactions_transactions_index'], app.request.get('_route')) }}">
                <a href="{{ path('transactions_transactions_index') }}">
                    <i class="pe-7s-cash" aria-hidden="true"></i>
                    <p>Transactions</p>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ isActive(['clients_clients_index','clients_add_client','clients_edit_client'], app.request.get('_route')) }}">
                    <a href="{{ path('clients_clients_index') }}">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
            {% endif %}
            <li class="{{ isActive(['websites_websites_index','websites_add_website','websites_edit_website'], app.request.get('_route')) }}">
                <a href="{{ path('websites_websites_index') }}">
                    <i class="pe-7s-global"></i>
                    <p>Websites</p>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ isActive(['gateways_gateways_index'], app.request.get('_route')) }}">
                    <a href="{{ path('gateways_gateways_index') }}">
                        <i class="pe-7s-global"></i>
                        <p>Gateways</p>
                    </a>
                </li>
            {% endif %}
            <li class="{{ isActive(['support_support_index'], app.request.get('_route')) }}">
                <a href="{{ path('support_support_index') }}">
                    <i class="pe-7s-headphones "></i>
                    <p>Support</p>
                </a>
            </li>
        </ul>
    </div>
</div>